<header class="header">
  <h1>Despesas e Receitas</h1>
  <div class="actions">
    <button (click)="abrirModal()">Nova Receita</button>
    <button (click)="abrirModalDespesa()">Nova Despesa</button>
    <button (click)="logout()">Logout</button>
  </div>
</header>
<section class="filtros-container">
  <form (ngSubmit)="aplicarFiltros()" class="filtros-grid">
    <div class="filtro-item">
      <label for="tipo">Tipo</label>
      <select [(ngModel)]="filtro.tipo" name="tipo" id="tipo">
        <option value="">Todos</option>
        <option value="RECEITA">Receita</option>
        <option value="DESPESA">Despesa</option>
      </select>
    </div>

    <div class="filtro-item">
      <label for="tipo">Paga?</label>
      <select [(ngModel)]="filtro.paga" name="tipo" id="paga">
        <option value="">Todos</option>
        <option value="true">Sim </option>
        <option value="false">Não</option>
      </select>
    </div>

    <div class="filtro-item">
     <label for="valorMin">Valor Mínimo</label>
     <input type="number" [(ngModel)]="filtro.valorMin" name="valorMin" id="valorMin" step="0.01" placeholder="Ex: 100.00" />
    </div>

  <div class="filtro-item">
    <label for="valorMax">Valor Máximo</label>
    <input type="number" [(ngModel)]="filtro.valorMax" name="valorMax" id="valorMax" step="0.01" placeholder="Ex: 1000.00" />
  </div>

    <div class="filtro-item">
      <label for="descricao">Descrição</label>
      <input type="text" [(ngModel)]="filtro.descricao" name="descricao" id="descricao" placeholder="Ex: Aluguel, Salário..." />
    </div>

    <div class="filtro-item">
      <label for="dataVencimentoInicio">Data Vencimento Inicio</label>
      <input type="date" [(ngModel)]="filtro.dataVencimentoInicio" name="dataVencimentoInicio" id="dataVencimentoInicio" />
    </div>

    <div class="filtro-item">
      <label for="dataVencimentoFim">Data Vencimento Fim</label>
      <input type="date" [(ngModel)]="filtro.dataVencimentoFim" name="dataVencimentoFim" id="dataVencimentoFim" />
    </div>

    <div class="filtro-item">
      <label for="dataPagamentoInicio">Data Pagamento Inicio</label>
      <input type="date" [(ngModel)]="filtro.dataPagamentoInicio" name="dataVencimentoInicio" id="dataPagamentoInicio" />
    </div>

    <div class="filtro-item">
      <label for="dataPagamentoFim">Data Pagamento Fim</label>
      <input type="date" [(ngModel)]="filtro.dataPagamentoFim" name="dataPagamentoFim" id="dataPagamentoFim" />
    </div>
  
    <div class="filtro-item">
      <label for="dataPrevistaInicio">Data Prevista de Recebimento Inicio</label>
      <input type="date" [(ngModel)]="filtro.dataPrevistaInicio" name="dataPrevistaInicio" id="dataPrevistaInicio" />
    </div>

    <div class="filtro-item">
      <label for="dataPrevistaFim"> Data Prevista de Recebimento Fim</label>
      <input type="date" [(ngModel)]="filtro.dataPrevistaFim" name="dataPrevistaFim" id="dataPrevistaFim" />
    </div>

    <div class="filtro-item">
      <label for="dataRecebimentoInicio">Data de Recebimento Inicio</label>
      <input type="date" [(ngModel)]="filtro.dataRecebimentoInicio" name="dataRecebimentoInicio" id="dataRecebimentoInicio" />
    </div>

    <div class="filtro-item">
      <label for="dataRecebimentoFim"> Data  de Recebimento Fim</label>
      <input type="date" [(ngModel)]="filtro.dataRecebimentoFim" name="dataRecebimentoFim" id="dataRecebimentoFim" />
    </div>

    

    <div class="botoes-filtro">
      <button type="submit" class="btn btn-filtrar">
        <i class="fas fa-filter"></i> Filtrar
      </button>
      <button type="button" class="btn btn-limpar" (click)="limparFiltros()">
        <i class="fas fa-times-circle"></i> Limpar
      </button>
    </div>
  </form>
</section>


<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Descrição</th>
        <th>Data Prevista Recebimento</th>
        <th>Data Recebida</th>
        <th>Confirmada</th>
        <th>Data Vencimento</th>
        <th>Data Pagamento</th>
        <th>Paga</th>
        <th>Ações</th>
        <th> - </th>

      </tr>
    </thead>
    <tbody>
<tr *ngFor="let t of transacoes">
  <td>{{ t.tipo }}</td>
  <td>{{ t.valor | currency:'BRL' }}</td>
  <td>{{ t.descricao }}</td>
  <td>{{ t.dataPrevistaRecebimento }}</td>
  <td>{{ t.dataRecebida }}</td>
  <td>{{ t.confirmada ? 'Sim' : 'Não' }}</td>
  <td>{{ t.dataVencimento }}</td>
  <td>{{ t.dataPagamento }}</td>
  <td>
  {{ t.tipo === 'DESPESA' ? (t.paga ? 'Sim' : 'Não') : '-' }}
</td>
<td>
  <!-- Confirmar pagamento - despesas -->
  <button
    *ngIf="t.tipo === 'DESPESA' && !t.paga"
    class="btn-confirmar-pagamento"
    (click)="abrirModalConfirmacao(t)"
    title="Confirmar pagamento da despesa"
  >
    <i class="fas fa-check"></i>
  </button>

  <!-- Confirmar recebimento - receitas -->
<button
  *ngIf="t.tipo === 'RECEITA' && !t.confirmada"
  class="btn-confirmar-recebimento"
  (click)="abrirModalRecebimento(t)"
  title="Confirmar recebimento da receita"
>
  <i class="fas fa-hand-holding-dollar"></i>
</button>
  
</td>
      <td>
        <button class="btn-editar" title="Editar" (click)="abrirModalEditar(t)">
          <i class="fa fa-pencil" aria-hidden="true"></i> Editar
        </button>
      </td>
</tr>

    </tbody>
  </table>
</div>

<!-- Modal de Nova Receita -->
<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal-content">
    <h2>Nova Receita</h2>
    <form (ngSubmit)="salvarReceita()">
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" [(ngModel)]="novaReceita.descricao" required />

      <label for="valor">Valor:</label>
      <input type="number" id="valor" name="valor" [(ngModel)]="novaReceita.valor" required />

      <label for="data">Data Prevista de Recebimento:</label>
      <input type="date" id="data" name="dataPrevistaRecebimento" [(ngModel)]="novaReceita.dataPrevistaRecebimento" required />

      <div class="modal-actions">
        <button type="submit">Salvar</button>
        <button type="button" (click)="fecharModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal de Nova Despesa -->
<div *ngIf="mostrarModalDespesa" class="modal-overlay">
  <div class="modal-content">
    <h2>Nova Despesa</h2>
    <form (ngSubmit)="salvarDespesa()">
      <label for="descricaoDespesa">Descrição:</label>
      <input type="text" id="descricaoDespesa" name="descricaoDespesa" [(ngModel)]="novaDespesa.descricao" required />

      <label for="valorDespesa">Valor:</label>
      <input type="number" id="valorDespesa" name="valorDespesa" [(ngModel)]="novaDespesa.valor" required />

      <label for="dataVencimento">Data de Vencimento:</label>
      <input type="date" id="dataVencimento" name="dataVencimento" [(ngModel)]="novaDespesa.dataVencimento" required />

      <label for="paga">Paga:</label>
      <input type="checkbox" id="paga" name="paga" [(ngModel)]="novaDespesa.paga" />

      <div class="modal-actions">
        <button type="submit">Salvar</button>
        <button type="button" (click)="fecharModalDespesa()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
<div class="modal-overlay" *ngIf="mostrarModalRecebimento">
  <div class="modal-content">
    <h2>Confirmar Recebimento</h2>
    <p>Informe a data de recebimento da receita <strong>"{{ transacaoParaConfirmar?.descricao }}"</strong>:</p>

    <input type="date" [(ngModel)]="dataRecebimento" required />

    <div class="modal-actions">
      <button (click)="confirmarRecebimentoFinal()">Confirmar</button>
      <button (click)="fecharModalRecebimento()">Cancelar</button>
    </div>
  </div>
</div>


<div class="modal-overlay" *ngIf="mostrarModalConfirmar">
  <div class="modal-content">
    <h2>Confirmar Pagamento</h2>
    <p>Informe a data de pagamento da despesa <strong>"{{ transacaoParaConfirmar?.descricao }}"</strong>:</p>

    <input type="date" [(ngModel)]="dataPagamento" required />

    <div class="modal-actions">
      <button (click)="confirmarPagamementoFinal()">Confirmar</button>
      <button (click)="fecharModalRecebimento()">Cancelar</button>
    </div>
  </div>
</div>






<div *ngIf="mostrarModalEditar" class="modal-overlay">
  <div class="modal-content">
    <h2>Editar Transação</h2>
    <form (ngSubmit)="salvarEdicao()">
      <label>Descrição:</label>
      <input [(ngModel)]="transacaoEditada.descricao" name="descricao" required />

      <label>Valor:</label>
      <input type="number" [(ngModel)]="transacaoEditada.valor" name="valor" required />



      <label>Data Prevista Recebimento:</label>
      <input type="date" [(ngModel)]="transacaoEditada.dataPrevistaRecebimento" name="dataPrevistaRecebimento" />

      <label>Data Recebida:</label>
      <input type="date" [(ngModel)]="transacaoEditada.dataRecebida" name="dataRecebida" />

      <label>Confirmada:</label>
      <input type="checkbox" [(ngModel)]="transacaoEditada.confirmada" name="confirmada" />

      <label>Data Vencimento:</label>
      <input type="date" [(ngModel)]="transacaoEditada.dataVencimento" name="dataVencimento" />

      <label>Data Pagamento:</label>
      <input type="date" [(ngModel)]="transacaoEditada.dataPagamento" name="dataPagamento" />

      <label *ngIf="transacaoEditada.tipo === 'DESPESA'">Paga:</label>
      <input *ngIf="transacaoEditada.tipo === 'DESPESA'" type="checkbox" [(ngModel)]="transacaoEditada.paga" name="paga" />

      <div class="modal-actions">
        <button type="submit">Salvar</button>
        <button type="button" (click)="fecharModalEditar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>